{% extends 'shopuser_base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" id="cartList">
	{% if request.user.user_type == '1' or  request.user.user_type == '2' %}
	<h3 class="my-4 border-bottom pb-1">Order list (Total orders: {{orders|length}})
		<span class="float-right">
			Shop User Id : {{shopuser.id}}
		</span>
	</h3>

	
    
    {% for order in orders %}

        {% if not order.cancelled %}
        
	<br><br>
    <span class="float-left">
        
        <h4> Order Id :{{order.id}}</h4>
        
    </span>
    
    <br>
    <table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
                <th>Price</th>
				<th>Customer name</th>
                <th>Customer adress</th>
			</tr>
		</thead>
		<tbody>
			{% for product in order.products.all %}
			<tr>
                  {% if product.shopuser == shopuser %}
				<td>
					<img src="/media/{{product.productattribute_set.first.image}}" width="50" />
					<p>{{product.title}}</p>
				</td>

                <td>
		            {{product.productattribute_set.first.price}}
				</td>
                 
				<td>
		            {{order.customer}}	
				</td>
                <td>
		           {{order.customer.adress}}	
				</td>
                {% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table><br>
   
    <span class="float-middle">
        
        <h4> Payment Status : Paid</h4>
        
    </span>
    
    
   
    <hr>
    <br>

    {% endif %}
    {% endfor %}

	{% else %}
    <p> You are not authorized to see this page. Please login as shopuser.</p>
    {% endif %}

</main>
{% endblock %}

{% block extra_body %}
   <!-- Empty toast to show the message -->
	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div id="toast-body" class="toast-body"></div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		</div>
	</div>
{% endblock %}
