{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "ADD SHOP USER" %}{% endblock %}

{% block content %}

{% if request.user.is_admin %}
<h1>{% trans "ADD" %}</h1>

<form class="signup" id="signup_form" method="post" action="{% url 'add_shopuser' %}">
  <input type="hidden" name="user_type" value="2" />
  
  {% csrf_token %}
  <div class="form-row align-items-center">
     
    <div class="col-md-6">
      {{form.email|as_crispy_field}}
      <div class="alert alert-danger">
        <strong>{{form.email.errors|escape }}</strong>
      </div>
    </div><br>

    

    <div class="col-md-6">
      {{form.username|as_crispy_field}}
      <div class="alert alert-danger">
        <strong>{{form.username.errors|escape }}</strong>
      </div>
    </div><br>

    <div class="col-md-6">
      {{form.dob|as_crispy_field}}
      <div class="alert alert-danger">
        <strong>{{form.dob.errors|escape }}</strong>
      </div>
    </div><br>

    <div class="col-md-6">
      {{form.adress|as_crispy_field}}
      <div class="alert alert-danger">
        <strong>{{form.adress.errors|escape }}</strong>
    </div>
    </div><br>

    <div class="col-md-6">
      {{form.gender|as_crispy_field}}
      <div class="alert alert-danger">
        <strong>{{form.gender.errors|escape }}</strong>
    </div>
    </div><br>

    <div class="col-md-6">
        {{form.shop_name|as_crispy_field}}
        <div class="alert alert-danger">
          <strong>{{form.shop_name.errors|escape }}</strong>
      </div>
      </div><br>

    <div class="col-md-6">
        {{form.shop_type|as_crispy_field}}
        <div class="alert alert-danger">
          <strong>{{form.shop_type.errors|escape }}</strong>
        </div>
    </div><br>

    
    
  </div>
  <button type="submit">{% trans "Add" %} &raquo;</button>
</form>

{% else %}
    <p> You are not authorized to see this page. Please login as admin.</p>
{% endif %}

{% endblock %}
