{% for product in data %}
<div class="col-lg-4 col-md-6 mb-4 product-box">
	<div class="card shadow">
	  <a href=""><img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
	  <div class="card-body">
	    <h5 class="card-text"><a href="">{{product.title}}</a></h5>
	    <h6>$ {{product.productattribute_set.first.price}}</h6>
	  </div>
	  <div class="card-footer">

		<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
				
		<button class="btn btn-sm btn-primary add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button>
		<button class="btn btn-sm btn-danger add-to-wishlist" data-index="{{product.id}}"><i class="fa fa-heart"></i></button>
		<a href="{% url 'buy_now' %}?pid={{product.id}}"><button class="btn btn-sm btn-primary" >Buy Now</button> </a>
		<span class="float-right">
			{{product.productattribute_set.first.get_rating_display}}/5
			<i class="fa fa-star text-warning"></i>
		</span>
		
	  </div>
	  <!-- Empty toast to show the message -->
	  <div class="toast-container position-fixed top-0 end-0 p-3">
		<div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div id="toast-body" class="toast-body"></div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		</div>
	</div>
	</div>
</div>
{% endfor %}
			