<h3 class="my-4 border-bottom pb-1">WISHLIST (Total Items : {{wishlist_products|length}})</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for c in wishlist_products %}
			<tr>
				<td>
					<img src="/media/{{c.product.productattribute_set.first.image}}" width="50" />
					<p>{{c.product.title}}</p>
				</td>
				<td>
		            Rs. {{c.product.productattribute_set.first.price}}
					
				</td>
				<td>
        
					<button class="btn btn-sm btn-danger wishlist-delete-item" data-item="{{c.product.id}}"><i class="fa fa-trash"></i></button>
                </td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	